@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*
{
    font-family: 'Secular One', sans-serif;
}

:root
{
    --red:#ff1a1a;
}
html::-webkit-scrollbar
{
    width: 1rem;
}

html::-webkit-scrollbar-track
{
    background: #000;
}

html::-webkit-scrollbar-thumb
{
    background: var(--red)
}
#navlogo
{
    height: 5.5rem;
    margin-top: 1rem;
}

.navul li
{
    padding-top: 0.5rem;
    padding-right: 2rem;
    padding-left: 1rem;
    font-size: 1.7rem;
    text-align: center;
}

.navul li a:hover
{
    transform: translateY(-10px);
    transition: transform 550ms;
}



.aboutsec
{
    margin-top: 0.2rem;
}

.about
{
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
    /* color: white; */
    padding-bottom: 8.5rem;
}

.name
{
    font-size: 4.4vw;
    letter-spacing: 0.5rem;
    font-family: 'Satisfy', cursive;
    margin-top: 4rem;
}

#profile
{
    font-size: 1.5vw;
}

#aboutgif
{
    height: 23vw;
}

.abtcontent
{
    margin-left: 12rem;
}

.gifcontent
{
    margin-left: 5rem;
}

#title
{
    padding-top: 4rem;
    margin-left: 12rem;
    font-size: 2rem;
}


.skills
{
    background: linear-gradient(rgba(0, 0, 0, 0.548),rgba(29, 28, 28, 0.952)),url(assets/bg5.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: auto;
    max-width: 100%;
    padding-bottom: 5rem;
}

.sktitle
{
    margin-left: 12rem;
    font-size: 3vw;
    font-weight: lighter;
    margin-bottom: 4rem;
}

.card1
{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.skillicons
{
    height: 7rem;
    background-color: white;
    border-radius: 35%;
    margin-bottom: 0.5rem;
}

.skillist
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.skillist li
{
    list-style: none;
    font-size: 1.5rem;
    margin-left: 5.8rem;
    padding-top: 0.6rem;
}

.checkmark
{
    height: 2.5rem;
    padding-right: 0.5rem;
    border-radius: 25%;
    color: white;
}

#spcltitle
{
    text-align: left;
    padding-top: 19rem;
    margin-left: 12rem;
    color: white;
    font-size: 2rem;
}

.spclpara
{
    margin-left: 12rem;
    color: white;
    font-size: 3rem;
}

.commun
{
    background-color: rgba(37, 33, 33, 0.507);
    margin-top: 5rem;
    border-radius:3%;
    color: white;
}

.bar1
{
    background-color: rgba(255, 0, 0, 0.541);
}
.pro1
{
    padding-top: 2rem;
    padding-left: 4rem;
    padding-bottom: 3rem;
}
.pro1 p
{
    font-size: 2rem;
}
.lead
{
    background-color: rgba(37, 33, 33, 0.507);
    margin-top: 2rem;
    border-radius:3%;
    color: white;
}

.projects
{
    overflow: hidden;
    white-space: nowrap;
}

.secproj
{
    background: linear-gradient(rgba(0, 0, 0, 0.822),rgba(17, 16, 16, 0.952)),url(assets/bg6.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: white;
    padding-bottom: 8rem;
    
}

#prhead
{
    padding-top: 13rem;
    padding-bottom: 4rem;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 12rem;
}


.main-carousel
{
    margin-left: 12rem;
    margin-right: 7rem;
    padding-bottom: 5rem;
}

.pimg
{
    height: 15rem;
    border-radius: 5%;
}
.carousel-cell
{
    padding-left: 2rem;
}
.image
{
    overflow: hidden;   
    position: relative;
}

.ptitle
{
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: red
}
.info
{
    position: absolute;
    top: 15rem;
    left: 15.2rem;
    text-align: center;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 1, 2, 0.89);
    transform: translateX(-50%);
    transition: all .7s cubic-bezier(0.17, 0.8, 0.62, 1.52);
}

.info a
{
    text-decoration: none;
}

.image:hover .info
{
    top: 8.1rem;
    
}

.mcontact
{
    background: linear-gradient(rgba(0, 0, 0, 0.74),rgba(17, 16, 16, 0.795)),url(assets/bg8.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    margin-top: 0.2rem;
    color: white;
    padding-bottom: 6rem;
}

#ctitle
{
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 3.5rem;
    text-align: center;   
}

.contact-sec
{
    display: flex;
}
.map
{
    margin-left: 10rem;
}

.dmap
{
    height: 25rem;
    border-radius: 10%;
}

.contact-info
{
    margin-left: 5rem;
}

.social
{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a img
{
    height: 3rem;
}
.cid
{
    padding-top: 0.5rem;
    font-size: 2.2rem;
    font-family: 'Akaya Telivigala', cursive;
}

.cgif
{
    height: 5rem; 
    margin-right: 1rem;
    border-radius: 25%;
}

.sicons
{
    padding-right: 1.5rem;
}

.foot
{
    background-color: black;
    padding-bottom: 0.5rem;
    color: white;
    width: 100%;
    height: 100%;
}
#copywrt
{
    padding-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/* media queries starts here */

@media (max-width:1299px)
{
    .map
    {
        margin-left: 2rem;
    }
    #ctitle
    {
        font-size: 2.5rem;
    }
    .contact-info
    {
        margin-left: 2rem;
    }
    .dmap
    {
        height: 20rem;
    }
    .cid
    {
        font-size: 1.8rem;
    }

    .cgif
    {
        height: 3rem;  
    }

    #sgif
    {
        height: 2rem;
    }

    
}

@media (max-width:1008px)
{

    .aboutsec
    {
        margin-top: 1.5rem;
    }
    .about
    {
        padding-top: 1rem;
        padding-bottom: 5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .name
    {
        margin-top: 1.5rem;
    }

    
    #aboutgif
    {
        align-items: center;
        justify-content: center;        
    }

    .abtcontent
    {
        order: 2;
        margin-left: 0;
        margin-top: 1rem;
    }

    .gifcontent
    {
        margin-left: 0;
        order: 1;
    }
   
    #title
    {
        margin-left: 0;
        text-align: center;
        font-size: 2.2rem;
    }

    #profile
    {
        font-size: 0.9rem;
    }   

    .skillist li
    {
        margin-left: 0;
    }

    .sktitle
    {
        margin-left: 0;
        text-align: center;
        font-size: 3rem;
        margin-bottom: 4rem;
    }

    .skilhead
    {
        font-size: 1.5rem;
    }

    .checkmark
    {
        height: 2rem;
    }

    #spcltitle
    {
        text-align: left;
        margin-left: 4rem;
        font-size: 1.5rem;
    }

    .spclpara
    {
        margin-left: 4rem;
        font-size: 2rem;
    }

    .main-carousel
    {
        margin-left: 8rem;
        margin-right: 4rem;
        padding-bottom: 5rem;
    }

    .pimg
    {
        height: 11rem;
    }

    .ptitle
    {
        font-size: 1.2rem;
    }
    #prhead
    {
        font-size: 1.5rem;
        margin-left: 8rem;
    }

    .contact-sec
    {
        flex-direction: column;
        align-items: center;
    }

    #ctitle
    {
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-size: 2.5rem;
        text-align: center;
    }

    .contact-info
    {
        margin-left:0;
        margin-top: 2rem
    }

    .dmap
    {
        height: 15rem;
        width: 28rem;
    }

    .cid
    {
        font-size: 1.5rem;
    }

    .cgif
    {
        height: 2rem;  
    }
}

@media (max-width:995px)
{
    
    .info
    {
        top: 20rem;
        left: 10.2rem;
    }

    .image:hover .info
    {
        top: 5.1rem;
    }

    .commun
    {
        margin-top: 1rem;
    }

}

@media (max-width:800px)
{
    .about
    {
        padding-bottom: 3rem;
    }
    .skillicons
    {
        height: 6rem;
    }

    #title
    {
        margin-left: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .sktitle
    {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }

    .skillist li
    {
        list-style: none;
        font-size: 1.2rem;
        padding-left: 1.5rem;
        
    }

    #spcltitle
    {
        padding-top: 1rem;
        text-align: left;
        margin-left: 3.2rem;
        font-size: 1.8rem;
    }

    .spclpara
    {
        margin-left: 3.2rem;
        font-size: 2rem;
    }

    .commun
    {
        margin-top: 1.5rem;
        margin-left: 1rem;
    }

    .pro1
    {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    .pro1 p
    {
        font-size: 1.3rem;
    }

    .lead
    {
        margin-left: 1rem;
    }

    .main-carousel
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .pimg
    {
        height: 10rem;
    }

    .ptitle
    {
        font-size: 1rem;
    }
    #prhead
    {
        font-size: 1.5rem;
        margin-left: 0;
        text-align: center;
        font-weight: bolder;
    }
    .info
    {
        top: 22rem;
        left: 9.4rem;
    }

    #ctitle
    {
        font-size: 2.5rem;
    }
    
    .dmap
    {
        margin-left: 0;
        margin-right: 2rem;
        height: 10rem;
        width: 20rem;
    }

    .cid
    {
        font-size: 1.2rem;
        text-align: center;
        line-height: 0.5rem;
    }

    .cgif
    {
        height: 1.5rem;  
    }

    #sgif
    {
        height: 1.5rem;
    }

    .social
    {
        margin-left: 4rem;
    }
}
